/*****************************************/
/************* PADDINGS ******************/
/*****************************************/
.p-1rem {
    padding: 1rem;
}
.p-2rem {
    padding: 1rem;
}
.p-3rem {
    padding: 1rem;
}
.p-4rem {
    padding: 1rem;
}
.p-5rem {
    padding: 1rem;
}

.p-5px {
    padding: 5px;
}
.p-10px {
    padding: 10px;
}
.p-15px {
    padding: 15px;
}
.p-20px {
    padding: 20px;
}
.p-25px {
    padding: 25px;
}
.p-30px {
    padding: 30px;
}
.p-35px {
    padding: 35px;
}
.p-40px {
    padding: 40px;
}
.p-45px {
    padding: 45px;
}
.p-50px {
    padding: 50px;
}


/************* PADDINGS-LEFT ******************/
.pl-1rem {
    padding-left: 1rem;
}
.pl-2rem {
    padding-left: 1rem;
}
.pl-3rem {
    padding-left: 1rem;
}
.pl-4rem {
    padding-left: 1rem;
}
.pl-5rem {
    padding-left: 1rem;
}

.pl-5px {
    padding-left: 5px;
}
.pl-10px {
    padding-left: 10px;
}
.pl-15px {
    padding-left: 15px;
}
.pl-20px {
    padding-left: 20px;
}
.pl-25px {
    padding-left: 25px;
}
.pl-30px {
    padding-left: 30px;
}
.pl-35px {
    padding-left: 35px;
}
.pl-40px {
    padding-left: 40px;
}
.pl-45px {
    padding-left: 45px;
}
.pl-50px {
    padding-left: 50px;
}


/************* PADDINGS-RIGHT ******************/
.pr-1rem {
    padding-right: 1rem;
}
.pr-2rem {
    padding-right: 1rem;
}
.pr-3rem {
    padding-right: 1rem;
}
.pr-4rem {
    padding-right: 1rem;
}
.pr-5rem {
    padding-right: 1rem;
}

.pr-5px {
    padding-right: 5px;
}
.pr-10px {
    padding-right: 10px;
}
.pr-15px {
    padding-right: 15px;
}
.pr-20px {
    padding-right: 20px;
}
.pr-25px {
    padding-right: 25px;
}
.pr-30px {
    padding-right: 30px;
}
.pr-35px {
    padding-right: 35px;
}
.pr-40px {
    padding-right: 40px;
}
.pr-45px {
    padding-right: 45px;
}
.pr-50px {
    padding-right: 50px;
}


/************* PADDINGS-TOP ******************/
.pt-1rem {
    padding-top: 1rem;
}
.pt-2rem {
    padding-top: 1rem;
}
.pt-3rem {
    padding-top: 1rem;
}
.pt-4rem {
    padding-top: 1rem;
}
.pt-5rem {
    padding-top: 1rem;
}

.pt-5px {
    padding-top: 5px;
}
.pt-10px {
    padding-top: 10px;
}
.pt-15px {
    padding-top: 15px;
}
.pt-20px {
    padding-top: 20px;
}
.pt-25px {
    padding-top: 25px;
}
.pt-30px {
    padding-top: 30px;
}
.pt-35px {
    padding-top: 35px;
}
.pt-40px {
    padding-top: 40px;
}
.pt-45px {
    padding-top: 45px;
}
.pt-50px {
    padding-top: 50px;
}


/************* PADDINGS-BOTTOM ******************/
.pb-1rem {
    padding-bottom: 1rem;
}
.pb-2rem {
    padding-bottom: 1rem;
}
.pb-3rem {
    padding-bottom: 1rem;
}
.pb-4rem {
    padding-bottom: 1rem;
}
.pb-5rem {
    padding-bottom: 1rem;
}

.pb-5px {
    padding-bottom: 5px;
}
.pb-10px {
    padding-bottom: 10px;
}
.pb-15px {
    padding-bottom: 15px;
}
.pb-20px {
    padding-bottom: 20px;
}
.pb-25px {
    padding-bottom: 25px;
}
.pb-30px {
    padding-bottom: 30px;
}
.pb-35px {
    padding-bottom: 35px;
}
.pb-40px {
    padding-bottom: 40px;
}
.pb-45px {
    padding-bottom: 45px;
}
.pb-50px {
    padding-bottom: 50px;
}



/****************************************/
/************* MARGINS ******************/
/****************************************/

/************* MARGINS-TOP ******************/
.mt-5px {
    margin-top: 5px;
}
.mt-10px {
    margin-top: 10px;
}
.mt-15px {
    margin-top: 15px;
}
.mt-20px {
    margin-top: 20px;
}
.mt-25px {
    margin-top: 25px;
}
.mt-30px {
    margin-top: 30px;
}
.mt-35px {
    margin-top: 35px;
}
.mt-40px {
    margin-top: 40px;
}
.mt-45px {
    margin-top: 45px;
}
.mt-50px {
    margin-top: 50px;
}

/************* MARGINS-BOTTOM ******************/
.mb-5px {
    margin-bottom: 5px;
}
.mb-10px {
    margin-bottom: 10px;
}
.mb-15px {
    margin-bottom: 15px;
}
.mb-20px {
    margin-bottom: 20px;
}
.mb-25px {
    margin-bottom: 25px;
}
.mb-30px {
    margin-bottom: 30px;
}
.mb-35px {
    margin-bottom: 35px;
}
.mb-40px {
    margin-bottom: 40px;
}
.mb-45px {
    margin-bottom: 45px;
}
.mb-50px {
    margin-bottom: 50px;
}

/************* MARGINS-RIGHT ******************/
.mr-5px {
    margin-right: 5px;
}
.mr-10px {
    margin-right: 10px;
}
.mr-15px {
    margin-right: 15px;
}
.mr-20px {
    margin-right: 20px;
}
.mr-25px {
    margin-right: 25px;
}
.mr-30px {
    margin-right: 30px;
}
.mr-35px {
    margin-right: 35px;
}
.mr-40px {
    margin-right: 40px;
}
.mr-45px {
    margin-right: 45px;
}
.mr-50px {
    margin-right: 50px;
}